[submodule "submoudle_target_001"]
	path = submoudle_target_001
	url = https://github.com/BannariPaviOwn/source_repo.git
[submodule "submoudle_target_002"]
	path = submoudle_target_002
	url = https://github.com/BannariPaviOwn/source_repo.git
[submodule "submoudle_113"]
	path = submoudle_113
	url = https://github.com/BannariPaviOwn/source_repo.git
[submodule "submoudle_114"]
	path = submoudle_114
	url = https://github.com/BannariPaviOwn/source_repo.git
[submodule "submoudle_target_003"]
	path = submoudle_target_003
	url = https://github.com/BannariPaviOwn/source_repo.git
